@import './variables.scss';

#weather {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  display: flex;
  flex-direction: column;
  background: linear-gradient(160deg, $dark-white, $dark-white 40%, $orange 100%);
  border-radius: 5px;
  border: 3px solid $orange;
  margin: 10px;
  padding: 10px;
  color: white;

  #input_wrapper {
    width: 100%;
    display: flex;
    padding: 5px;

    button {
      background-color: transparent;
      box-shadow: none;
      border: 3px solid $orange;
      color: $orange;
      padding: 0px 10px;
      margin: 0px 10px;
      cursor: pointer;
      font-weight: bold;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $orange;
      background-color: $dark-white;
      color: $orange;
      
      &:focus {
        background-color: lighten($dark-white, 10%);
        outline: none;
        box-shadow: inset 0 -1px 0 1px $orange;
      }
    }
  }

  #weather_wrapper {
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }

    .weather_icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      img {
        width: 60px;
        height: 60px;
        margin-bottom: -10px;
      }
      &_text {
        font-size: 12px;
        text-align: center;
        text-transform: capitalize;
        max-width: 90px;
      }
    }

    .temperature {
      font-size: 36px;
      height: 100%;
      margin-right: 20px;
    }
  }
}